body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
 
}

h2{
	 text-align: center;	
}

form {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 20px auto;
    width: 70%;
    border-radius: 10px;
    align-items: center;
}

label {
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #7FAD39;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6c9f2b;
}
